@using Store.Application.Services.Common.Queries.GetMenuItemForMobile;
@model List<MenuItemMobileDto>

@{
    Layout = null;
}



<ul class="nav-categories ul-base">

    
    <li>
        @foreach (var item in Model)
        {
            <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="mdi mdi-chevron-down"></i>@item.Name</a>


            @if (item.Child.Count() > 0)
            {

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">

                    <ul>
                        @foreach (var itemchild in item.Child)
                        {
                            <li>
                                <a href="~/products/index?CatId=@itemchild.CatId" class="category-level-3">@itemchild.Name</a>
                            </li>

                        }
                    </ul>

                </div>
            }
            }
        }
        </li>

  
    
</ul>

